@model List<MVCBooksWebApi.Models.Domain.Book>

@{
}


<h1>Książki</h1>
<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Tytuł</th>
			<th>Autor</th>
			<th>ISBN</th>
			<th>Liczba stron</th>
			<th>Kategoria</th>
			<th>Ilość</th>
			<th> </th>
		</tr>
	</thead>
	<tbody>
		@foreach (var book in Model)
		{
			<tr>
				<td>@book.Id</td>
				<td>@book.Title</td>
				<td>@book.Author</td>
				<td>@book.ISBN</td>
				<td>@book.Pages</td>
				<td>@book.Category</td>
				<td>@book.Amount</td>
				<td><a href="Books/View/@book.Id">View</a></td>
			</tr>
		}
	</tbody>
</table>